<div>
<h1>PRODUCTOS</h1>

<form action="">

<label for="title">TITLE:</label>    
<input type="text" name="title" id="title" required>

<label for="description">DESCRIPTION:</label>   
<input type="text" name="description" id="description" required>

<label for="price">PRICE:</label>   
<input type="number" name="price" id="price" required>

<label for="stock">STOCK:</label>   
<input type="number" name="stock" id="stock" required>

<label for="category">CATEGORY:</label>   
<input type="text" name="category" id="category" required>

 <input type="submit" value="ADD PRODUCT">

</form>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>