 <h2>EXCURSIONES</h2>
 
 <ul>
        {{#each products}}
        <li>Excursión: {{this.title}} <br>  - Precio: {{this.price}} <br> - Categoría: {{this.category}}<br> <hr></li>
        {{/each}}
    </ul>


<div>
<H2>AGREGAR EXCURSION</H2>

<form id="form">

<label for="name">EXCURSIÓN:</label>    
<input type="text" name="name" id="name" required><br /><br />

<label for="price">PRICE:</label>   
<input type="number" name="price" id="price" required><br /><br />

<label for="category">CATEGORY:</label>   
<input type="text" name="category" id="category" required><br /><br />

 <input type="submit" value="ADD PRODUCT">

</form>

</div>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>